
/* Comentario aqui CRTL K + CTRL C para agregar comentario */


body{
    margin: 1%;
    padding: 1%;
    background-image: url("../img/danny-howe-bn-D2bCvpik-unsplash.jpg")
    
}

 



p{

 color: #579782;
 font-size: 21px;

}
/* Cabecera */
header {
    
        
        align-items: center;
        background-color: white;
        
        
    }

/* TABLA */
h1 {
     text-align: center;
     color: white;
}
section {
 display: flex;
 align-items: center;
 flex-direction: column ;
 background-color: darkolivegreen;
}
section h1 {
     text-align: center;
     color: white;
}


/* Fin de tabla */

/* Menú */
.logotipo {
     width: 100px;
}
 
nav{



}
nav ul{
     font-size: 30px;
     list-style: none;
     
} 
nav ul li{
     color: #579782;
     display: inline-block;
     position: relative;
}
nav ul li:hover ul{
     display: block;
}

nav ul li:hover ul li a{
     background-color: white;
     display: block;
}
nav ul li a{
     color: white;
}

nav ul li a:hover{
     color: yellow;
}
nav ul ul{
     position: absolute;
     display: none;
}
nav ul ul li{
     display: block;
}

nav ul li {
     color: aqua;
     font-size: 30px;
}
nav ul li a {
     color: white;
    font-size: 20px;

}
/* FIN MENU */

/*  ID */
#Video{
    background-color: #abd1c6;
}
#cualquiera{
    background-color: crimson;
background-color: yellow; }

    /* CLASS */

     main p {
          text-align: center;
          color: white;
     }
     main h1 {
          text-align: center;
          color: white;
     }
     
    .texto-rojo{
        color: red;
    }

    .boton
      {
        display: block;
        width: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        background-color: bisque;
        border-bottom: 10px;
        padding: 15px 30px;
        margin: 50px 50px;
        color: black;
        text-decoration: none;
        align-items: center;
        text-align: center;
        
        
    }
    h1 {
     color: white
    }

    footer {

         background-color: crimson;
        
        }
        
        footer p{
        
         color: white;
        
        }