body {
  background-image: url("img/danny-howe-bn-D2bCvpik-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

body h1 {
  color: aliceblue;
}

body h6 {
  color: aliceblue;
  font-size: 300%;
  text-align: center;
  margin: 50px;
}

.info {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5rem;
}

.nav-link {
  text-align: center;
}

.navbar {
  padding: 0px;
  background-color: black;
}

h1 {
  text-align: center;
}

section {
  background-color: rgba(0, 0, 0, 0.6);
}

section h4 {
  text-align: center;
  color: #FBF458;
  font-size: 60px;
  margin-top: 50px;
  padding-top: 50px;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 2fr);
  text-align: center;
  padding: 5%;
  grid-template-areas: "name1 name2" "form1 form2" "name3 name4" "form3 form4" "name5 name5" "form5 form5";
}

.name1 {
  grid-area: name1;
  color: aliceblue;
}

.form1 {
  grid-area: form1;
  margin-right: 10%;
}

.name2 {
  grid-area: name2;
  color: aliceblue;
}

.form2 {
  grid-area: form2;
  margin-right: 10%;
}

.name3 {
  grid-area: name3;
  color: aliceblue;
}

.form3 {
  grid-area: form3;
  margin-right: 10%;
}

.name4 {
  grid-area: name4;
  color: aliceblue;
}

.form4 {
  grid-area: form4;
  margin-right: 10%;
}

.name5 {
  grid-area: name5;
  color: aliceblue;
}

.form5 {
  grid-area: form5;
  margin-right: 10%;
  margin-left: 10%;
  align-items: center;
}

.contacto {
  padding-top: 2%;
  font-size: 100px;
}

.main_quienes {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5rem;
}

.main_quienes p {
  font-size: 30px;
  padding: 3%;
}

.main_quienes h2 {
  color: #FBF458;
  text-align: center;
  font-size: 50px;
  padding: 5%;
}

.main_quienes .foto {
  margin-left: 30%;
}

.main_container {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5rem;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 4rem;
}

.servicio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.division {
  background-color: #FBF458;
  width: 100%;
  padding: 4rem;
}
.division h2 {
  color: black;
  text-align: center;
  font-size: 80px;
}

.boton_container .boton {
  border: 1px solid black;
}

.bg-darky {
  background-color: black !important;
}

.container h3 {
  font-size: 30px;
  color: #FBF458;
}

.container p {
  font-size: 20px;
}

.boton {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 100px;
  padding: 15px 30px;
  margin: 50px 50px;
  background-color: #FBF458;
  color: black;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  transition: background-color 500ms ease;
}
.boton:hover {
  background-color: black;
  color: #FBF458;
}

.box1 {
  background-color: black;
  padding: 15x;
  border-radius: 10px;
  border-style: outset;
  border-width: 15px;
  border-color: black;
  width: 40rem;
  margin: auto;
  margin-bottom: 15px;
}

.card {
  background-color: black;
  color: black;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .main_container p {
    font-size: 40px;
  }
  .main_container h1 {
    font-size: 60px;
  }
  .servicio_container {
    display: flex;
    flex-direction: column;
    place-content: center;
  }
  .division h2 {
    font-size: 50px;
  }
  .main_quienes h1 {
    font-size: 60px;
  }
  .main_quienes p {
    font-size: 30px;
  }
  .main_quienes .foto {
    width: 300px;
    margin-left: 50px;
  }
  .contacto {
    font-size: 70px;
  }
  .box1 {
    padding: 0.5rem;
    max-width: 400px;
  }
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: white;
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 10px;
  text-align: center;
}
footer a {
  list-style: none;
  text-decoration: none;
}
footer a:hover {
  color: #FBF458;
}
footer .footlist {
  display: inline;
  text-align: center;
  line-height: 90px;
  margin: 15px;
}
footer .fa-instagram {
  font-size: 30px;
}
footer .fa-facebook {
  font-size: 30px;
}
footer .fa-envelope {
  font-size: 30px;
}
footer .fa-whatsapp {
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */